Source/LINQEntityBase/LINQEntityBaseExample/Service References/WCFService/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49173/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LINQEntityBaseExampleData" />
  <xs:element name="RetrieveCustomerDataByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CustomerID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveCustomerDataByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LINQEntityBaseExampleData" minOccurs="0" name="RetrieveCustomerDataByIDResult" nillable="true" type="q1:Customer" />
        <xs:element minOccurs="0" name="DBLog" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomerData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LINQEntityBaseExampleData" minOccurs="0" name="ModifiedCustomer" nillable="true" type="q2:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomerDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DBLog" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LINQEntityBaseExampleData" minOccurs="0" name="GetProductDataResult" nillable="true" type="q3:ArrayOfProduct" />
        <xs:element minOccurs="0" name="DBLog" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>